<div>
    <h2 id="page-heading">
        <span>Mvt Stks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mvt-stk" [routerLink]="['/mvt-stk/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Mvt Stk
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mvtStks?.length === 0">
        <span>No mvtStks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mvtStks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Date Mvt</span></th>
                    <th scope="col" ><span>Code Mvt</span></th>
                    <th scope="col" ><span>Item Number</span></th>
                    <th scope="col" ><span>Magasin</span></th>
                    <th scope="col" ><span>Emplacement</span></th>
                    <th scope="col" ><span>Qte</span></th>
                    <th scope="col" ><span>Num Ordre</span></th>
                    <th scope="col" ><span>Num Ligne Ordre</span></th>
                    <th scope="col" ><span>Lot Number</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mvtStk of mvtStks ;trackBy: trackId">
                    <td><a [routerLink]="['/mvt-stk', mvtStk.id, 'view']">{{ mvtStk.id }}</a></td>
                    <td>{{ mvtStk.dateMvt | date:'mediumDate' }}</td>
                    <td>{{ mvtStk.codeMvt }}</td>
                    <td>{{ mvtStk.itemNumber }}</td>
                    <td>{{ mvtStk.magasin }}</td>
                    <td>{{ mvtStk.emplacement }}</td>
                    <td>{{ mvtStk.qte }}</td>
                    <td>{{ mvtStk.numOrdre }}</td>
                    <td>{{ mvtStk.numLigneOrdre }}</td>
                    <td>{{ mvtStk.lotNumber }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mvt-stk', mvtStk.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mvt-stk', mvtStk.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mvtStk)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
